.option {
  width: 50%;
  height: 50%;
  border: 2px solid rgb(34, 34, 34);
  border-radius: 50%;
  margin: 20% 20%;
}

.option:hover {
  /* width: 205px;
  height: 205px; */
  /* margin-left: 30%; */
}

@media (max-width: 575.98px) {
  .row {
    /* display: ; */
    /* width: 20%;
    height: 20%; */
  }
}